<ion-app>
  <ion-split-pane contentId="main-content" [when]="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="ion-padding">
          <div class="logo"></div>
        </div>
        <ion-list id="inbox-list">


          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>


        <div class="ion-padding text-sm">
          <p class="ion-no-margin">
            By <strong>Christel Haddad</strong>
          </p>
          <p class="ion-no-margin">
            Certified Dog Behaviorist
          </p>
          <p class="ion-no-margin ion-margin-top">
            <strong>A Pet Comunity.</strong>
          </p>
          <p class="ion-no-margin">
            Tbilisi, Georgia.
          </p>
        </div>



      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>