<ion-app>
  <ion-split-pane contentId="main-content" [when]="false">
    <ion-menu contentId="main-content" type="overlay" side="end">
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <div class="ion-margin">
            <div class="logo"></div>
          </div>
          <ion-list id="inbox-list ">


            <ion-list-header class="ion-margin-top">
              <ion-label color="primary">@SitHappensGE</ion-label>
            </ion-list-header>
            <ion-item href="https://facebook.com/sithappensge" target="_blank" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="logo-facebook"></ion-icon>
              <ion-label>Facebook</ion-label>
            </ion-item>
            <ion-item href="https://instagram.com/sithappensge" target="_blank" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="logo-instagram"></ion-icon>
              <ion-label>Instagram</ion-label>
            </ion-item>
            <ion-item href="https://twitter.com/sithappensge" target="_blank" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="logo-twitter"></ion-icon>
              <ion-label>Twitter</ion-label>
            </ion-item>


            <ion-list-header>
              <ion-label color="primary">Get in touch</ion-label>
            </ion-list-header>
            <ion-item target="_blank" href="https://wa.me/+995511124199" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="logo-whatsapp"></ion-icon>
              <ion-label>+995 511 124 199</ion-label>
            </ion-item>
            <ion-item target="_blank" href="mailto:christel@sithappens.ge" routerDirection="root" lines="none"
              detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="mail-open-outline"></ion-icon>
              <ion-label>christel@sithappens.ge</ion-label>
            </ion-item>

            <ion-list-header>
              <ion-label color="primary">Take a survey</ion-label>
            </ion-list-header>
            <ion-item target="_blank"
              href="https://docs.google.com/forms/d/e/1FAIpQLSdeUurh-6M_YNu1kC0-5dljDLOy-CT5eDh0uWomKU40yCZQCw/viewform?usp=sf_link"
              routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="help-circle-outline"></ion-icon>
              <ion-label>Are you a Pet Parent?</ion-label>
            </ion-item>
            <ion-item target="_blank"
              href="https://docs.google.com/forms/d/e/1FAIpQLSeSaW1iLE_QJKFcIrEjKAfwrpM_NP0dz7gATkVfgCuaWf-TSA/viewform?usp=sf_link"
              routerDirection="root" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon color="primary" slot="start" name="help-circle-outline"></ion-icon>
              <ion-label>Are you a Pet Caregiver?</ion-label>
            </ion-item>

            <ion-list-header class="ion-margin-top">
              <ion-label color="primary">Thank you!</ion-label>
            </ion-list-header>
            <ion-item lines="none">
              <div class="text-sm">
                <p class="ion-no-margin ion-margin-top ion-padding-top text-lg">
                  <a href="https://www.facebook.com/BiZAROOB/"><strong>BiZAROOB</strong></a>
                </p>
                <p class="ion-no-margin">
                  The talented team behind our logo &amp; identity.
                </p>
                <p class="ion-no-margin ion-margin-top ion-padding-top">
                  <strong>Tbilisi landscape illustration</strong>
                  <br>
                  by <a href="https://www.freepik.com/vectors/landmark">Sky and Glass</a>
                </p>
                <p class="ion-no-margin ion-margin-top ion-padding-top">
                  &copy; <strong>Sit Happens</strong>, 2022.
                </p>
                <p class="ion-no-margin ion-margin-top">
                  A project by <strong>Christel Haddad,</strong>
                </p>
                <p class="ion-no-margin">
                  Certified Dog Behaviorist.
                </p>
                <p class="ion-no-margin ion-margin-top">
                  <strong>A Pet-Loving Comunity.</strong>
                </p>
                <p class="ion-no-margin">
                  Tbilisi, Georgia.
                </p>
                <p class="ion-no-margin ion-margin-top">
                  All rights reserved.
                </p>
              </div>
            </ion-item>
          </ion-list>



        </ion-menu-toggle>



      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>