<p class="ion-no-margin">
  We’ll let you know when we’re ready.
</p>
<div class="text-sm">
  Please fill in at least one field.
</div>

<ion-list class="ion-margin-vertical">
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input placeholder="Your email address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Facebook</ion-label>
    <ion-input placeholder="facebook.com/username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Instagram</ion-label>
    <ion-input placeholder="instagram.com/username"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Whatsapp</ion-label>
    <ion-input placeholder="+995 XXX XX XX XX"></ion-input>
  </ion-item>
</ion-list>

<ion-button expand="block" size="large">
  <strong>Send me the good news</strong>
</ion-button>