<h3 class="ion-no-margin ion-margin-bottom">
  We’ll let you know when we’re ready.
</h3>
<div class="text-sm">
  Please fill in at least one field.
</div>

<ion-list class="ion-margin-vertical">
  <ion-item>
    <ion-label class="fixed-label">Email</ion-label>
    <ion-input placeholder="Your email address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="fixed-label">Facebook</ion-label>
    <ion-label class="prefix-label ion-no-margin ion-margin-vertical">facebook.com/</ion-label>
    <ion-input placeholder="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="fixed-label">Instagram</ion-label>
    <ion-label class="prefix-label ion-no-margin ion-margin-vertical">instagram.com/</ion-label>
    <ion-input placeholder="username"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label class="fixed-label">Whatsapp</ion-label>
    <ion-input placeholder="+995 XXX XX XX XX"></ion-input>
  </ion-item>
</ion-list>

<ion-button expand="block" size="large">
  <strong>Send me the good news!</strong>
</ion-button>