h1 {
    white-space: nowrap;
    &:after {
        content: "'";
        margin-left: -8px;
        margin-top: -5px;
        position: absolute;
        transform: rotate(40deg);
        animation: wiggle 2500ms infinite ease-in-out alternate;
    }
}

.whatsapp {
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 300ms ease-in-out 1s forwards;

    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    right: 125px;
    bottom: 16px;
    ion-fab-button {
        width: 44px;
        height: 44px;
    }
}

.empty-space {
    padding-top: 60px;
}

@keyframes wiggle {
    0% {
        transform: rotate(40deg);
    }
    3% {
        transform: rotate(20deg);
    }
    6% {
        transform: rotate(40deg);
    }
    9% {
        transform: rotate(20deg);
    }
    12% {
        transform: rotate(40deg);
    }
    15% {
        transform: rotate(20deg);
    }
    18% {
        transform: rotate(40deg);
    }
}
