<ion-header class="mini-header ion-no-border" [class.visible]="showMiniHeader">
  <!-- <ion-grid fixed class="ion-no-padding ion-padding-horizontal"> -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <img slot="start" class="icon-logo" src="/assets/images/favicon.png" alt="">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- </ion-grid> -->
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="onScroll($event)" #body color="tertiary"
  id="content">
  <sit-header></sit-header>
  <ion-grid fixed>
    <ion-row class="ion-align-items-end">
      <ion-col size="6">

        <h1 class="ion-no-margin">
          Tails be
          <br>
          wigglin
        </h1>


      </ion-col>
      <ion-col size="6">
        <img src="/assets/images/trainer.png">

      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-top">

      <ion-col size="12" size-lg="6" class="ion-no-padding ion-padding-bottom">

        <p class="text-light ion-padding ion-no-margin ion-margin-bottom">
          <strong>Sit Happens</strong> is a a <strong>loving home</strong> for your dogs, our pets and us. We spend our day <strong>playing in the yard</strong> under the supervision of <strong>Christel, a Certified Dog Behaviorist</strong>.
        </p>

        <sit-subscribe-form></sit-subscribe-form>




      </ion-col>
      <ion-col size="12" size-lg="6">

        <div class="ion-padding-bottom">


          <h6 class="ion-no-margin ion-margin-bottom">
            Follow Sit Happens
          </h6>
          <div>
            <ion-button class="sm-button" size="large" fill="clear"
              (click)="goTo('https://facebook.com/sithappensge', 'facebook_link_clicked')">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
              facebook.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
          <div>
            <ion-button class="sm-button" size="large" fill="clear"
              (click)="goTo('https://instagram.com/sithappensge', 'twitter_link_clicked')">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              instagram.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
          <div>
            <ion-button class="sm-button" size="large" fill="clear"
              (click)="goTo('https://twitter.com/sithappensge', 'twitter_link_clicked')">
              <ion-icon slot="start" name="logo-twitter"></ion-icon>
              twitter.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
        </div>



        <ion-row class="ion-align-items-center ion-justify-content-center empty-space">
          <ion-col size="6" size-sm="auto">

            <div class="ion-text-center">
              <img src="/assets/images/office.png" style="max-width:180px">
            </div>


          </ion-col>
          <ion-col size="6" size-sm="auto">

            <div class="ion-margin-bottom">
              Help us
              <br>
              get there faster
            </div>
            <ion-button fill="outline" (click)="scrollToSurveys()">
              Take a survey
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
    <div #chatCheckpoint></div>
  </ion-grid>


  <div #firstSurvey>

    <ion-grid fixed>
      <ion-row class="ion-align-items-end">
        <ion-col size="12" size-lg="6" class="empty-space">
          <sit-survey-cta [survey]="'parenting'"></sit-survey-cta>
        </ion-col>
        <ion-col size="12" size-lg="6" class="empty-space">
          <sit-survey-cta [survey]="'caregiving'"></sit-survey-cta>
        </ion-col>
      </ion-row>

      <div #chatCheckpoint [style.margin-top]="'150px'"></div>

      <ion-row>
        <ion-col size="6" size-md="12" class="text-sm">

          &copy; Sit Happens, 2022. All rights reserved.
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>


  <sit-chat-cta></sit-chat-cta>

  <ion-fab class="whatsapp" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="success" (click)="goTo('https://wa.me/+995511124199', 'whatsapp_chat_clicked')">
      <ion-icon name="logo-whatsapp" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>