<ion-content [scrollEvents]="true" (ionScroll)="onScroll()">
  <sit-header></sit-header>
  <ion-grid fixed>
    <ion-row class="ion-align-items-end">
      <ion-col size="6">

        <h1 class="ion-no-margin">
          Tails be
          <br>
          wigglin
        </h1>


      </ion-col>
      <ion-col size="6">
        <img src="/assets/images/trainer.png">

      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-top">

      <ion-col size="12" size-lg="6" class="ion-no-padding ion-padding-bottom">


        <p class="text-light ion-padding ion-no-margin ion-margin-bottom">
          <strong>Sit Happens</strong> is a <strong>pet-loving community</strong> that aims to bring pet enthusiasts and
          caregivers closer together to
          make pet parenting <strong>easier, safer & stress-free</strong>.
        </p>


        <sit-subscribe-form></sit-subscribe-form>




      </ion-col>
      <ion-col size="12" size-lg="6">

        <div class="ion-padding-bottom">


          <h6 class="ion-no-margin ion-margin-bottom">
            Follow Sit Happens
          </h6>
          <div>
            <ion-button class="sm-button" href="https://facebook.com/sithappensge" target="_blank" size="large"
              fill="clear" (click)="logEvent('facebook_link_clicked')">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
              facebook.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
          <div>
            <ion-button class="sm-button" href="https://instagram.com/sithappensge" target="_blank" size="large"
              fill="clear" (click)="logEvent('twitter_link_clicked')">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              instagram.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
          <div>
            <ion-button class="sm-button" href="https://twitter.com/sithappensge" target="_blank" size="large"
              fill="clear" (click)="logEvent('twitter_link_clicked')">
              <ion-icon slot="start" name="logo-twitter"></ion-icon>
              twitter.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
        </div>



        <ion-row class="ion-align-items-center ion-justify-content-center empty-space">
          <ion-col size="6" size-sm="auto">

            <div class="ion-text-center">
              <img src="/assets/images/office.png" style="max-width:180px">
            </div>


          </ion-col>
          <ion-col size="6" size-sm="auto">

            <div class="ion-margin-bottom">
              Help us
              <br>
              get there faster
            </div>
            <ion-button fill="outline" (click)="scrollToSurveys()">
              Take a survey
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="9" size-lg="6">
        <sit-chat-cta></sit-chat-cta>

      </ion-col>
    </ion-row> -->
    <div #chatCheckpoint></div>
    <ion-row class="ion-align-items-top">

      <ion-col size="12" size-lg="6" class="empty-space">



        <div class="ion-text-center" #firstSurvey>
          <img src="/assets/images/living.png" height="200px">
        </div>

        <h3>
          Does your family include a Pet?
        </h3>
        <p>
          Only 4 minutes of your time can help us make
          pet-parenting in Tbilisi safer & stress-free.
        </p>
        <ion-button fill="outline" expand="block" target="_blank" (click)="logEvent('parenting_survey_link_clicked')"
          href="https://docs.google.com/forms/d/e/1FAIpQLSdeUurh-6M_YNu1kC0-5dljDLOy-CT5eDh0uWomKU40yCZQCw/viewform?usp=sf_link">
          Take the survey
        </ion-button>
      </ion-col>
      <ion-col size="12" size-lg="6" class="empty-space">
        <div class="ion-text-center">
          <img src="/assets/images/park.png" height="200px">
        </div>

        <h3>
          Do you enjoy Pet Sitting, Dog Walking or Boarding?
        </h3>
        <p>
          Only 4 minutes of your time can help us make
          pet caregiving in Tbilisi easier & more accessible.
        </p>
        <ion-button fill="outline" expand="block" target="_blank" (click)="logEvent('caregiving_survey_link_clicked')"
          href="https://docs.google.com/forms/d/e/1FAIpQLSeSaW1iLE_QJKFcIrEjKAfwrpM_NP0dz7gATkVfgCuaWf-TSA/viewform?usp=sf_link">
          Take the survey
        </ion-button>


      </ion-col>
    </ion-row>
    <!-- <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <sit-chat-cta></sit-chat-cta>

      </ion-col>
    </ion-row>
 -->
    <div #chatCheckpoint [style.margin-top]="'150px'"></div>

    <ion-row>
      <ion-col size="6" size-md="12" class="text-sm">

        &copy; Sit Happens, 2022. All rights reserved.
      </ion-col>
    </ion-row>

  </ion-grid>

  <sit-chat-cta></sit-chat-cta>


  <ion-fab class="whatsapp" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="success" target="_blank" href="https://wa.me/+995511124199"
      (click)="logEvent('whatsapp_chat_clicked')">
      <ion-icon name="logo-whatsapp" color="primary"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>