<ion-content>
  <sit-header></sit-header>
  <ion-grid fixed>
    <ion-row class="ion-align-items-end">

      <ion-col size="12" size-lg="6">
        <ion-row class="ion-align-items-end ion-padding-bottom">
          <ion-col size="6">

            <h1 class="ion-no-margin">
              Tails be
              <br>
              wigglin
            </h1>

          </ion-col>
          <ion-col size="6">
            <img src="/assets/images/trainer.png">

          </ion-col>
        </ion-row>

        <sit-subscribe-form></sit-subscribe-form>




      </ion-col>
      <ion-col size="12" size-lg="6">

        <div class="ion-padding-top">


          <h6>
            Follow Sit Happens
          </h6>
          <div>
            <ion-button class="sm-button" href="https://facebook.com/sithappensge" target="_blank" size="large"
              fill="clear">
              <ion-icon slot="start" name="logo-facebook"></ion-icon>
              facebook.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
          <div>
            <ion-button class="sm-button" href="https://instagram.com/sithappensge" target="_blank" size="large"
              fill="clear">
              <ion-icon slot="start" name="logo-instagram"></ion-icon>
              instagram.com/<strong>sithappensge</strong>
            </ion-button>

          </div>
        </div>



        <ion-row class="ion-align-items-center ion-justify-content-center ion-padding-top">
          <ion-col size="6" size-sm="auto">

            <div class="ion-text-center">
              <img src="/assets/images/office.png" style="max-width:180px">
            </div>


          </ion-col>
          <ion-col size="6" size-sm="auto">

            <div>
              Help us
              <br>
              get there faster
            </div>
            <ion-button fill="outline">
              Take the survey
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="9" size-lg="6">
        <ion-card color="secondary" class="ion-no-margin">
          <ion-card-content>
            <h4>
              Ready to learn how to train
              your dog at home?

            </h4>
            <ion-grid class="ion-no-padding ion-padding-top">
              <ion-row class="ion-align-items-center">
                <ion-col>
                  Get in touch with <strong>Christel</strong>,
                  <br>
                  a <strong>Certified Dog Behaviorist</strong>.
                  <div class="ion-padding-top">
                    <img class="ion-margin-end" src="/assets/images/messenger.png" width="60px">
                    <img class="ion-margin-end" src="/assets/images/whatsapp.png" width="60px">
                    <img class="ion-margin-end" src="/assets/images/email.png" width="60px">

                  </div>
                </ion-col>
                <ion-col size="auto">
                  <img src="/assets/images/christel-phone.png" width="140px">

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-top">

      <ion-col size="12" size-lg="6">



        <div class="ion-text-center">
          <img src="/assets/images/living.png" height="200px">
        </div>

        <h3>
          Does your family include a Pet?
        </h3>
        <p>
          Only 4 minutes of your time can help us make
          pet-parenting in Tbilisi easier and safer.
        </p>
        <ion-button fill="outline" expand="block">
          Take the survey
        </ion-button>
      </ion-col>
      <ion-col size="12" size-lg="6">
        <div class="ion-text-center">
          <img src="/assets/images/park.png" height="200px">
        </div>

        <h3>
          Do you enjoy Pet Sitting, Dog Walking or Boarding?
        </h3>
        <p>
          Only 4 minutes of your time can help us make
          pet caregiving in Tbilisi better and more accessible.
        </p>
        <ion-button fill="outline" expand="block">
          Take the survey
        </ion-button>


      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" size-lg="6">
        <ion-card color="secondary" class="ion-no-margin">
          <ion-card-content>
            <h4>
              Looking for a Dog Trainer?
            </h4>
            <ion-grid class="ion-no-padding ion-padding-top">
              <ion-row class="ion-align-items-center">
                <ion-col>
                  Get in touch with <strong>Christel</strong>,
                  <br>
                  a <strong>Certified Dog Behaviorist</strong>.
                </ion-col>
                <ion-col size="auto">
                  <img src="/assets/images/christel-phone.png" width="100px">

                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-text-center text-sm">

        &copy; Sit Happens, 2022. All rights reserved.
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>